<!-- html 부분은 잘 몰라 엄두가 나지 않는다 이해하고 있는 부분만 정리해 본다 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">       <!--  이게 pico. html 과 css 는 전현 모르는 상태다 하지만 이렇게 사용하면 이쁘게 보인다-->
</head>

<body>
  <main class = "container">                                                         
    <h1>Job Scrapper</h1>                                                                           <!-- 글씨 크기를 정하는것이라는거은 알겠다 -->
    <h4>원하는 직종을 검색해 보세요!!</h4>
    <form action="/search">                                                                         <!-- 이게 플라스크를 발동시키는 action -->
      <input type = "text" name = "keyword" placeholder="여기에 적어주세요"/>                        <!-- keyword라는 이름에 텍스트타입의 플레이스홀더 라는것을 알겠다 --> 
      <button>찾기</button>                                                                         <!-- 발동조건이 엔터 혹은 찾기 버튼이라는것도 알겠다 -->
    </form>                                                    
  </main>

</body>
</html>